@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --orange: #f28705;
  --white: #ffffff;
  --roboto: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--roboto);
  background-color: var(--white);
}

a {
  color: var(--white) !important;
  text-decoration: none;
}
a:hover {
  color: var(--white);
  text-decoration: underline !important;
}

* {
  box-sizing: border-box;
}

header {
  margin-bottom: 20px;
  background-color: var(--orange);
  color: var(--white);
}

header a {
  font-weight: 700;
  font-family: var(--roboto);
}

header a:hover {
  text-decoration: none;
}

.carrousel_wrapper {
  height: 500px;
  background-size: cover !important;
  position: relative;
  margin-bottom: 20px;
}

.carrousel_wrapper div {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: #343a40b3;
  color: var(--white);
  padding: 20px;
  font-weight: 900;
  font-size: 40px;
}

.article_container {
  background: var(--white);
  border: 1px solid #f3f3f3;
  padding: 30px;
}

.article_container h1 {
  font-size: 70px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
}

.MuiCardContent-root {
  padding: 20px !important;
}

.MuiCardActions-root {
  padding: 0px 20px 20px 20px !important;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: #ffffff;
  margin-bottom: 30px;
}
